 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "SSS", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Intro",   '#' %></li>
            <li><%= link_to "AP Seminar",   '#' %></li>
            <li><%= link_to "AP History",   '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>