 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "SSS", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Intro",   intro_path %></li>
            <li><%= link_to "AP Seminar",    seminar_home_path %></li>
            <li><%= link_to "AP History",   history_home_path %></li>
            <li><%= link_to "AP Research",   research_home_path %></li>
            <li><%= link_to "AP English",   english_home_path %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>