<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "SSS", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
<<<<<<< HEAD
            <li><%= link_to "Home", research_home_path %></li>
            <li><%= link_to "Lesson 1",  research_lesson_1_path %></li>
            <li><%= link_to "Lesson 2",  research_lesson_2_path %></li>
=======
            <li><%= link_to "Home",   ap_research_home_path %></li>
            <li><%= link_to "Lesson 1",   ap_research_lesson_1_path %></li>
            <li><%= link_to "Lesson 2",   ap_research_lesson_2_path %></li>
>>>>>>> 74f21996e13f02fefcdb3fc8635072396ee28d5a
            
          </ul>
        </nav>
      </div>
<<<<<<< HEAD
    </header>



=======
    </header>
>>>>>>> 74f21996e13f02fefcdb3fc8635072396ee28d5a
