<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
   <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
<<<<<<< HEAD
<<<<<<< HEAD
    <%= render 'layouts/history_head' %>
=======
    <%= render 'layouts/research_head' %>
>>>>>>> 74f21996e13f02fefcdb3fc8635072396ee28d5a
=======
    <%= render 'layouts/research_head' %>
>>>>>>> added and connected research menu and layout again again
   
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>